check process mysql with pidfile /var/run/mysqld/mysqld.sock.lock
   group database
   start program = "/bin/systemctl start mysql"
   stop program = "/bin/systemctl stop mysql"
   if failed host 127.0.0.1 port 3306 protocol mysql then restart
   if 5 restarts within 5 cycles then timeout
   depend mysql_bin
   depend mysql_rc

check file mysql_bin with path /usr/sbin/mysqld
   group database
   include /etc/monit/templates/rootbin

check file mysql_rc with path /etc/init.d/mysql
   group database
   include /etc/monit/templates/rootbin
